services:
  glances:
    image: nicolargo/glances:latest
    container_name: glances
    environment:
      - GLANCES_OPT=-w
    ports:
      - "61208:61208"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /etc/os-release:/host/etc/os-release:ro
    restart: unless-stopped
    networks:
      - srv

networks:
  srv:
    external: true
